# Common gitconfig on local
[core]
	excludesfile = ~/.gitignore
	autoCRLF = false
    commentChar = ";"
    editor = nvim
[push]
	default = simple
[color]
	ui = auto
[branch]
    autosetuprebase = always
[rebase]
    autostash = true
[user]
    useConfigOnly = true
    name = umasoya
    email = 11560565+umasoya@users.noreply.github.com
	#signingkey = C9E2257C34098FE8

[ghq]
    root = ~/repos/src
[alias]
    graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
    co = commit
    ch = change
    cho = checkout
    aa = add .
    au = add -u
    rh = reset --hard
    f = fetch
	untracked = ls-files --others --exclude-standard
[merge]
	ff = false
[pull]
	ff = only
[init]
	defaultBranch = main
[include]
	path = ~/dotfiles/git/.gitconfig.local
