# Common gitconfig on local
[core]
	excludesfile = ~/.gitignore
	autoCRLF = false
[push]
	default = simple
[color]
	ui = auto
[branch]
    autosetuprebase = always
[rebase]
    autostash = true
[user]
    useConfigOnly = true
    name = umasoya
    email = umasoya.0331@gmail.com
	signingkey = C9E2257C34098FE8
[commit]
	gpgsign = true

[ghq]
    root = ~/repos/src
[alias]
    graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
    co = commit
    ch = change
    cho = checkout
    aa = add .
    au = add -u
    rh = reset --hard
    f = fetch
	untracked = ls-files --others --exclude-standard
[merge]
	ff = false
[pull]
	ff = only
[init]
	defaultBranch = main
[gpg]
	program = gpg
