# Common gitconfig on local
[core]
	excludesfile = ~/.gitignore
	autoCRLF = false
[push]
	default = simple
[color]
	ui = auto
[branch]
    autosetuprebase = always
[rebase]
    autostash = true
[user]
    useConfigOnly = true
    name = umasoya
    email = umasoya.0331@gmail.com
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFbXBzcYfTCR8+2EEi994eVPAKmO2r9NkqUHzq8wZfHT

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  gpgsign = true

[ghq]
    root = ~/repos/src
[alias]
    graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
    co = commit
    ch = change
    cho = checkout
    aa = add .
    au = add -u
    rh = reset --hard
    f = fetch
[merge]
	ff = false
[pull]
	ff = only
[init]
	defaultBranch = main
