# If add an exception, put a BOL "!"

vim/.vim/dein.vim
vim/.vim/doc/tags

tmux/.tmux/plugins

.gitconfig.local

config/.config/*
!config/.config/afx
!config/.config/nvim
!config/.config/multitail
!config/.config/sh
!config/.config/cheat
!config/.config/karabiner
