# Common gitconfig on local
[core]
	excludesfile = ~/.gitignore
[push]
	default = simple
[color]
	ui = auto
[branch]
    autosetuprebase = always
[user]
    useConfigOnly = true
[ghq]
    root = ~/repos/src
