# Common gitconfig on local
[core]
	excludesfile = ~/.gitignore
	autoCRLF = false
[push]
	default = simple
[color]
	ui = auto
[branch]
    autosetuprebase = always
[rebase]
    autostash = true
[user]
    useConfigOnly = true
	name = umasoya
	email = basilisk.0331@icloud.com
[ghq]
    root = ~/repos/src
[alias]
    graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
    co = commit
    ch = change
    cho = checkout
    aa = add .
    au = add -u
    rh = reset --hard
    f = fetch
[merge]
	ff = false
[pull]
	ff = only
