#
# ------------------------------------------------------- # 
#
# $$\      $$\            $$$$$$\   $$$$$$\  $$\       
# $$$\    $$$ |          $$  __$$\ $$  __$$\ $$ |      
# $$$$\  $$$$ |$$\   $$\ $$ /  \__|$$ /  $$ |$$ |      
# $$\$$\$$ $$ |$$ |  $$ |\$$$$$$\  $$ |  $$ |$$ |      
# $$ \$$$  $$ |$$ |  $$ | \____$$\ $$ |  $$ |$$ |      
# $$ |\$  /$$ |$$ |  $$ |$$\   $$ |$$ $$\$$ |$$ |      
# $$ | \_/ $$ |\$$$$$$$ |\$$$$$$  |\$$$$$$ / $$$$$$$$\ 
# \__|     \__| \____$$ | \______/  \___$$$\ \________|
#              $$\   $$ |               \___|          
#              \$$$$$$  |                              
#               \______/                               
#
## Yasuto's MySQL settings
#
# ------------------------------------------------------- # 
#


[mysql]
prompt='\\n\\U\\n[\\D]\\_>\\_'
