<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>umasoya.brew.upgrade.daily</string>
        <key>WorkingDirectory</key>
        <string>/Users/umasoya/dotfiles/brew</string>
        <key>ProgramArguments</key>
        <array>
            <string>/Users/umasoya/dotfiles/etc/scripts/brew_upgrade.sh</string>
        </array>
        <key>StartCalendarInterval</key>
        <dict>
            <key>Hour</key>
            <integer>4</integer>
            <key>Minute</key>
            <integer>0</integer>
        </dict>
        <key>KeepAlive</key>
        <dict>
            <key>PathState</key>
            <dict>
                <key>/Users/umasoya/dotfiles/brew</key>
                <true />
                <key>/Users/umasoya/dotfiles/etc/scripts/brew_upgrade.sh</key>
                <true />
            </dict>
        </dict>
        <key>StandardOutPath</key>
        <string>/dev/null</string>
        <key>StandardErrorPath</key>
        <string>/var/log/umasoya.brew.upgrade.daily.error</string>
    </dict>
</plist>